@font-face {
  font-family: Varela-Regular;
  src: url(../Font-style/VarelaRound-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Varela-Regular, sans-serif;
  scrollbar-width: thin;
}

.Sidebar span {
  margin-top: 30px;
}

.Sidebar span {
  font-size: 24px;
  color: #343a40;
  font-weight: 600;
  display: block;
  /* display: none;*/
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 28px;
}

.Sidebar div {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  font-size: 18px;
  margin-block: 25px;
  margin-inline: 20px;
  gap: 8px;
  padding: 10px;
  transition-duration: 150ms;
}

.Sidebar div:hover,
.Sidebar div:active {
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.3);
  transform: scale(104%);
  /* text-decoration: underline; */
}

.Sidebar a:link,
.Sidebar a:visited {
  display: inline-block;
  text-decoration: none;
  color: #212529;
}
